<h2>Rating statistics</h2>

<div class="row">
  <div class="col-xs-6 col-sm-4">
    <h3>Best beers</h3>
    <%= render 'list', besties: @top_beers %>
  </div>
  <div class="col-xs-6 col-sm-4">
    <h3>Best breweries</h3>
    <%= render 'list', besties: @top_breweries %>
  </div>

  <div class="col-xs-6 col-sm-4">
    <h3>Best styles</h3>
    <%= render 'list', besties: @top_styles %>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h3>Most active users</h3>

    <table class="table table-hover">
      <thead>
      <tr>
        <th></th>
        <th><b>favorite beer</b></th>
        <th><b>prefered style</b></th>
        <th><b>favorite brewery</b></th>
      </tr>
      </thead>

      <tbody>
      <% @active_users.each do |u| %>
          <tr>
            <td><%= u.username %></td>
            <td><%= u.favorite_beer %></td>
            <td><%= u.favorite_style %></td>
            <td><%= u.favorite_brewery %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h3>Recent Ratings</h3>
    <ul>
      <% @recent_ratings.each do |r| %>
        <li><%= r %></li>
      <%end%>
    </ul>
  </div>
</div>